<!DOCTYPE html>
<html>
<head>
    <title>Matrix Heatmap</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="{{ url_for('static', filename='visual/sketch.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="display: flex; gap: 20px;">
        <div style="width: 450px;">
            <div class="controls">
                <label for="matrixSize">Matrix Size:</label>
                <input type="number" id="matrixSize" min="1" value="3">
                <button onclick="computeMatrix()">Generate Matrix</button>
            </div>
            <div id="canvas-container"></div>
        </div>
        <div style="width: 450px;">
            <div id="text-generation">
                <input type="text" id="inputText" style="width: 300px;">
                <button onclick="generateText()">Generate Text</button>
            </div>
            <div class="text-container" id="text-container"></div>
        </div>
    </div>
</body>
</html>